@font-face {
    font-family: 'DMSans';
    src: url(/fonts/DMSans-VariableFont_opsz\,wght.ttf) format(truetype);
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DMSansItalic';
    src: url(/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf) format(truetype);
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSansMono';
    src: url(/fonts/NotoSansMono-VariableFont_wdth\,wght.ttf) format(truetype);
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

html {
    --background-color: #14012b;
    --secondary-color: #d8ac55;
    --foreground-color: #ede3d1;

    /* something wrong with this, try and debug */
    --sanserif: 'DMSans', 'system-ui', 'Segoe UI', 'Helvetica Neue', sans-serif;
    --mono: 'NotoSansMono', 'system-ui', 'Segoe UI', 'Helvetica Neue', sans-serif;

    background-color: var(--background-color);
    color: var(--foreground-color);

    --wrapper: 0.5rem;
    
    /* flex-direction: column; */
    align-items: center;
    justify-self: center;
    justify-content: center;
    margin: var(--wrapper);
}

* {
    box-sizing: border-box;    
}

body {
    display: flex;
    width: 95vw;
    flex-wrap: wrap;
    gap: 1.5rem;
    overflow: hidden;
    justify-content: center;
    padding: var(--wrapper);
}

p {
    font-family: var(--sanserif);
    margin-block-end: 1rem;
    margin-block-start: 0;
    line-height: 1.5rem;
}

h1 {
    font-family: var(--sanserif);
    margin-block-start: 0;
    margin-block-end: var(--wrapper);
    /* margin: var(--wrapper); */
}

h2 {
    font-family: var(--mono);
    margin-block-start: 0;
    margin-block-end: 1.5rem;
    font-weight: 400;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    /* margin-top: 2rem; */
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 5 span;
}

main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    /* gap: var(--wrapper); */
    overflow: hidden;
    justify-content: center;
    /* padding: var(--wrapper); */

}


div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: var(--wrapper);
    /* margin: var(--wrapper) 0; */
}

.card {
    border: 0.5px solid var(--secondary-color);
    border-radius: var(--wrapper);
    background-image: linear-gradient(var(--secondary-color), var(--background-color));
    font-family: var(--sanserif);
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: var(--wrapper);
}

.card-img {
    height: 30vh;
    width: 12vw;
    object-fit: cover;
    /* object fit cover so that it wouldn't stretch the images */
    /* gradient is light top to bottom */
}

#overlay-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 0;

    p {
        width: 40ch;

    }
}

#overlay-img {
    img {
        width: 300px;
        height: 400px;
        object-fit: cover;
        padding: var(--wrapper);
    }
}

#container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 30vh;
    left: 20vw;
    width: 60vw;
    height: 50vh;
    padding: var(--wrapper);
    background: #14012b;
    border-color: var(--secondary-color);
    border: 2px;
}
  